<% if (title == 'Change Status') { %>
    <div class="col-sm-8">
        <div class="">
            <h3>Change Status</h3>
            <form action="" method="POST">
                <input type="text" name="status_name" value="<% document.status_name %>">
                <br><br>
                <input type="submit" value="Change Status">
            </form>
        </div>
    </div>
    
<% } else { 

<% } %>